services:
  ollama:
    image: ollama/ollama:latest
    cpus: "18.0"
    mem_limit: "24g"
    volumes:
      - ollama:/root/.ollama
      - ./entrypoint.sh:/entrypoint.sh
    entrypoint: ["/usr/bin/bash", "/entrypoint.sh"]
    ports:
      - "127.0.0.1:11434:11434"
    user: "0:0"
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
    environment:
      - OLLAMA_NO_CLOUD="1"
      - OLLAMA_DEBUG="1"
      - OLLAMA_HOST="0.0.0.0:11434"

  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    ports:
      - "127.0.0.1:8080:8080"
    volumes:
      - open-webui:/app/backend/data
    environment:
      - WEBUI_AUTH="False"
      - OLLAMA_BASE_URL="http://ollama:11434"

volumes:
  ollama:
  open-webui:
